img.highlight{
  border: 5px solid #ffa64d; //#E0624C;
}

img.highlightTreasure{
  border: 3px solid red;//#fbf7f7; //#E0624C;
  top: 12%;
  left: 12%;
  width: 75%;
}

img{
  width: 120px;
  border: 2px solid #A45F24; //#664B2F; //#513324; //#D57719;//#E0624C;
  border-radius: 35px;
}

th {
  text-align: center;
  position: relative;
}

body {
  background-color: #F0E5CF;
}


.arrow {
  width: 50px;
  padding: 5px;
  border: 0px solid #E0624C; //#d13c3c;
}

.rotate0 {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}

.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.rotate180 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.rotate270 {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

#gameInfo{
  margin-left: 130px;
}

#cardToUseText, #currentTreasureText, #currentAction{
  width: 120px;
}

.treasureImage{
  position: absolute;
  top: 22%;
  left: 22%;
  width: 60%;
  border: none;
}

.playerImage{
  position: absolute;
  top: 22%;
  left: 22%;
  width: 60%;
  opacity: .5;
  border: none;
}

.freeCardTreasure{
  position: absolute;
  top: 22%;
  left: 22%;
  width: 60%;
  border: none;
}

.freeCardTreasureCurrent{
  position: absolute;
  border: 3px solid red;
  top: 12%;
  left: 12%;
  width: 75%;
}

#currentPlayer img{
  opacity: .75;
}

#gameInfo table{
  border-spacing: 20px;
  border-collapse: separate;
}

/*#currentTreasureText{
  font-weight: bold;
  font-size: 30px;
  margin-left: 200px;
}

#currentTreasure{
  margin-left: 290px;
}*/

/*#currentAction{
  font-weight: bold;
  font-size: 30px;
  margin-left: 75px;
  color: red;
}*/


/*
.over {
    width: 30px;
    position:absolute;
    top: 70px;
    left: 70px;
    z-index:100;
}

.under {
  width: 100px;
  position:absolute;
  z-index:99;
} */

/* .box {
    position:relative;
} */
